venv*/
cmake-*/
cmake_*/
build/
Build/
build_*/
Build_*/

.vscode/
.idea/
.fleet/
.vs/

*.DS_Store
.DS_Store

*.o
*.pyc
*.pyo
*.mpkg
*.mak
*.ti
*.sbn
*.s
*.doj
*.ipa
*.dxe
*.ldr
*.map.xml
*.opensdf
*.sdf
*.pcf
*.log
*.suo
*.back.aip
*.orig



__pycache__/
